@import "compass/reset";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/opacity";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list";

$light-color: #ccc;
$border-color: #aaa;
$font-color: #555;
$bg-color: #f2f2f2;


@mixin input-box-shadow {
  @include single-box-shadow(rgba(0,0,0,0.2), 0, 1px, 1px, false, true);
}

// single-box-shadow($color, $hoff, $voff, $blur, $spread, $inset)
@mixin default-box-shadow {
  @include single-box-shadow(#aaa, 3px, -1px, 5px, false, false);
}

@mixin round-alpha-border {
  border: 5px solid rgba(0,0,0,0.3);
  @include border-radius;
}

@mixin alt-button {
  @include default-button(#F7886A, #973D2F);
}

@mixin default-button($bg-color: #88DB7C, $border-color: #227516) {
  background: $bg-color url(noise-overlay.png);
  border: 1px solid $border-color;
  @include box-shadow(0 1px rgba(255,255,255,0.2) inset, 0 3px 0 $border-color);
  @include border-radius;
  @include single-text-shadow(#222,0px,1px,1px);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

a.button {
  cursor: pointer;
}

body {
  background-color: $bg-color;
  font-family: "Myriad Pro","myriad-pro-1","myriad-pro-2",arial,sans-serif;
  color: $font-color;
  #main {
    @include clearfix;
    #wishes-menu {
      position: fixed;
      top: 0;
      left: 0;
      background-color: lighten(yellow, 50%);
      z-index: 10;
    }
    #wishes-map {
    }
  }
}

div#detail-wish {
  position: absolute;
  top: 80px;
  left: 400px;
  #detail-wish-wrapper {
    @include round-alpha-border;
    background-color: #fff;
    padding: 10px;
  }
}

a#launch-wish {
  @include default-button;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 400px;
}

div#wishes-map {
  position: relative;
}

#new-wish {
  div.form-header {
    height: 40px;
    line-height: 40px;
    font-size: 1.3em;
    margin-bottom: 10px;
    border-bottom: 1px solid $light-color;
    text-indent: 20px;
    background-color: #ebebeb;
  }
  form {
    $input-full-width: 360px - 22px;
    $input-half-width: 150px;
    $input-margin-right: 16px;
    padding: 20px;
    width: 360px;
    @include single-text-shadow(#fff,0px,1px,1px);
    fieldset {
      margin-bottom: 10px;
      &.title-content input  {
        margin: 0;
        width: $input-full-width;
      }
      &.price-expired-at {
        @include clearfix;
        input {
          margin: 0;
          width: $input-half-width;
          float: left;
          @include border-radius;
        }
      }
      input#new-wish-expired-at {
        margin-right: $input-margin-right;
      }
      input#new-wish-title {
        @include border-top-radius;
        height: 14px;
        font-size: 1.2em;
      }
      input#new-wish-content {
        @include border-bottom-radius;
        height: 40px;
        border-top: 1px solid #fffff5;
        &:hover { border-top: 1px solid $border-color; };
      }
      input[type=text] {
        padding: 10px;
        font-size: 1em;
        border: 1px solid $light-color;
        &:hover { border-color: $border-color; }
        @include input-box-shadow;
      }
      input[type=submit] {
        @include alt-button;
        font-size: 1.1em;
        width: 360px;
        padding: 10px;
      }
    }
  }
}

div#wishes-menu {
  @include default-box-shadow;
  height: 100%;
  overflow: scroll;
  div.wishes-list {
    div.wish {
      @include clearfix;
      @include text-shadow(#ebebeb);
      cursor: pointer;
      background: #FFFFF5 url(noise-overlay.png);
      border-bottom: 1px solid #f2f2f2;
      border-top: 1px solid #ccc;
      &:hover { background-color: #fff; }
      a.delete, div.info {
        float: left;
        margin-right: 10px;
        padding: 20px 10px;
      }
      a.delete {
        display: block;
        color: $light-color;
        &:hover { color: $font-color; }
      }
      div.info {
        h3.title { 
          float: left;
          width: 200px;
          margin-right: 10px;
          font-size: 1.1em;
        }
        div.meta {
          float: left;
          font-size: 1.4em;
        }
      }
    }
  }
}
